[submodule "home/pi/pyradiotracking"]
	path = home/pi/pyradiotracking
	url = https://github.com/trackIT-Systems/pyradiotracking.git
[submodule "home/pi/librtlsdr"]
	path = home/pi/librtlsdr
	url = https://github.com/librtlsdr/librtlsdr.git
[submodule "home/pi/pyrtlsdr"]
	path = home/pi/pyrtlsdr
	url = https://github.com/pyrtlsdr/pyrtlsdr.git
