:80 {
    encode gzip
    reverse_proxy http://localhost:8000

    handle_path /data/* {
        reverse_proxy http://localhost:8080
    }

    route /radiotracking/* {
        reverse_proxy http://localhost:8050
    }
}
